header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-steelblue);
  color: var(--color-white);
}
