<h2 *ngIf="user$ | async as user">
  Welcome, {{ user.displayName }}!
</h2>

<div class="home-container">
  <h4 class="center">Pets for adoption</h4>

  <div class="cards" *ngIf="pets">
    <mat-card class="card" *ngFor="let pet of pets">
      <mat-card-header>
        <img mat-card-avatar
          [src]="pet.photoURL ?? 'assets/images/pet_placeholder.png'"
        />
        <mat-card-title>{{ pet.name }}</mat-card-title>
        <mat-card-subtitle>
          Age: <span class="bold">{{ pet.age }}</span>
        </mat-card-subtitle>
      </mat-card-header>

      <img mat-card-image class="img-responsive gradient-border" alt=""
           [src]="pet.photoURL ?? 'assets/images/pet_placeholder.png'"
      />
      <mat-card-content>
        <p><span class="lighter-text">Breed:</span> {{ pet.breed }}</p>
        <p class="truncate">
          <span class="lighter-text">Description:</span> {{ pet.description }}
        </p>
        <p><span class="lighter-text">Contact foster home:</span>
          <a href="mailto:{{ pet.fosterer }}">{{ pet.fosterer }}</a>
        </p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-icon-button color="warn"><mat-icon>favorite</mat-icon></button>
        <button mat-icon-button color="accent"><mat-icon>share</mat-icon></button>
        <button mat-icon-button color="primary" routerLink="/details/{{pet.key}}"><mat-icon>open_in_new</mat-icon></button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div *ngIf="!pets">
    <mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading$ | async"></mat-progress-spinner>
  </div>
</div>
