<h2 class="center" *ngIf="user$ | async as user">
  Welcome, {{ user.displayName }}!
</h2>

<div class="home-container">
  <h4>Pets for adoption</h4>

  <div class="cards" *ngIf="pets">
    <mat-card class="card" *ngFor="let pet of pets">
      <mat-card-header>
        <img src="https://cdn-2.pedigreedatabase.com/pictures/1593748-22107.jpg" mat-card-avatar />
        <mat-card-title>{{ pet.name }}</mat-card-title>
        <mat-card-subtitle>
          Age: <span class="bold">{{ pet.age }}</span>
        </mat-card-subtitle>
      </mat-card-header>

      <img mat-card-image
           class="img-responsive" alt=""
           src="https://cdn4.amcn.in/a/limited-edition-amstaff.alle.bg/assets/33687cde825f-c999999999/9ot3c3fjju.jpg"
      >
      <mat-card-content>
        <p><span class="lighter-text">Breed:</span> {{ pet.breed }}</p>
        <p class="truncate">
          <span class="lighter-text">Description:</span> {{ pet.description }}
        </p>
      </mat-card-content>

      <mat-card-actions>
        <button mat-icon-button color="warn"><mat-icon>favorite</mat-icon></button>
        <button mat-icon-button color="accent"><mat-icon>share</mat-icon></button>
        <button mat-icon-button color="primary" routerLink="/details/{{pet.key}}"><mat-icon>open_in_new</mat-icon></button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div *ngIf="!pets">
    <mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading$ | async"></mat-progress-spinner>
  </div>
</div>
