<mat-toolbar class="header">
  <span routerLink="/">{{ title }}</span>

  <ng-container *ngIf="user$ | async as user; else loginButton">
    <button mat-button [matMenuTriggerFor]="userMenu">
      <img
        class="profile-image-toolbar"
        [src]="user.photoURL ?? 'assets/images/placeholder-image.jpg'"
        alt=""
      />
      {{ user.displayName }}
      <mat-icon>more_vert</mat-icon>
    </button>
  </ng-container>

  <ng-template #loginButton>
    <button mat-button routerLink="login">
      <mat-icon>login</mat-icon>
      Login
    </button>
  </ng-template>

</mat-toolbar>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item routerLink="/profile">
    <mat-icon>person</mat-icon>
    Profile
  </button>
  <button mat-menu-item routerLink="/add-pet">
    <mat-icon>pets</mat-icon>
    Add pet
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    Logout
  </button>
</mat-menu>

<main class="content">
  <router-outlet></router-outlet>
  <!--<mat-progress-spinner [mode]="'indeterminate'" *ngIf="loading$ | async"></mat-progress-spinner>-->
</main>

<footer class="footer">
  <span>2022 &copy; Pet Shelter</span>
  <!--<button mat-raised-button color="accent" (click)="fetchData()">Fetch data</button>-->
</footer>
