<mat-toolbar class="header">
  <span>{{ title }}</span>

  <ng-container *ngIf="authService.currentUser$ | async as user; else loginButton">
    <button mat-button (click)="logout()">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </ng-container>

  <ng-template #loginButton>
    <button mat-button routerLink="login">
      <mat-icon>login</mat-icon>
      Login
    </button>
  </ng-template>

</mat-toolbar>

<main class="content">
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  <span>2022 &copy; Pet Shelter</span>
</footer>
