.header {
  height: 4rem;
  background-color: var(--color-steelblue);
  color: var(--color-white);
  justify-content: space-between;
}

.header img.profile-image-toolbar {
  width: 2rem;
  height: 2rem;
  border-radius: var(--border-radius);
  object-fit: cover;
  object-position: center;
  margin-right: .25rem;
}

.mat-menu-item .mat-icon {
  margin-right: .25rem;
}

.content {
  padding: 2rem 1rem;
  height: calc(100% - 8rem);
  min-height: calc(100vh - 8rem);
}

.mat-progress-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.footer {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-steelblue);
  color: var(--color-white);
}
