.header {
  height: 4rem;
  background-color: var(--color-steelblue);
  color: var(--color-white);
  justify-content: space-between;
}

.header img.profile-image-toolbar {
  width: 2rem;
  height: 2rem;
  border-radius: var(--border-radius);
  object-fit: cover;
  object-position: center;
  margin-right: .25rem;
}

.content {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 8rem);
}

.footer {
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-steelblue);
  color: var(--color-white);
}
