<app-header></app-header>

<main>
  <h1>Home page</h1>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad blanditiis deleniti eos exercitationem hic incidunt
      inventore, labore laboriosam maiores nulla perspiciatis ratione reprehenderit sit, suscipit tempora ullam unde
      veniam veritatis! Atque beatae blanditiis consequuntur delectus dignissimos, dolore earum exercitationem, expedita
      facere laboriosam laudantium officia porro provident quasi qui repellat sit, veniam. Delectus expedita in,
      laudantium libero quibusdam quisquam ullam veniam. Ad alias consectetur eveniet excepturi iste maiores nihil
      reprehenderit velit. Ad, aperiam atque cumque dolorem eum fugiat illo illum incidunt itaque nihil, numquam
      perferendis repellendus rerum tenetur vero. Maiores, optio.
    </p>
  </div>
  <app-button></app-button>
</main>

<app-footer></app-footer>
