.header {
  height: 4rem;
  background-color: var(--color-steelblue);
  color: var(--color-white);
  justify-content: space-between;
}

.header img.profile-image-toolbar {
  width: 2rem;
  height: 2rem;
  border-radius: var(--border-radius);
  object-fit: cover;
  object-position: center;
  margin-right: .25rem;
}

.header button.user-menu {
  padding-right: 0;
}

.mat-menu-item .mat-icon {
  margin-right: .25rem;
}

.secondary-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 1rem;
  height: 3rem;
  letter-spacing: 1px;
}

.secondary-header .date,
.secondary-header .time,
.secondary-header .ip {
  font-size: .8125rem;
}

.secondary-header .separator {
  padding: 0 1rem;
  opacity: .3;
}

.secondary-header .show-ip {
  display: flex;
  align-items: center;
}

.secondary-header .flag {
  display: flex;
  align-items: center;
}

.secondary-header .flag img {
  height: 1rem;
  border: 1px solid var(--color-darkgray);
  margin-right: 0.5rem;
}

.content {
  padding: 2rem 1rem;
  height: calc(100% - 10rem);
  min-height: calc(100vh - 10rem);
}

.mat-progress-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.footer {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-steelblue);
  color: var(--color-white);
  padding: 0 1rem;
  flex-wrap: wrap;
}

.footer .copyright {
  font-weight: 300;
  font-size: .875rem;
}

.footer .copyright a {
  color: var(--color-white);
  transition: color 300ms ease-in-out;
}

.footer .copyright a:hover {
  color: var(--color-accent);
}

.hide-mobile {
  visibility: hidden;
}


@media screen and (min-width: 580px) {
  .hide-mobile {
    visibility: visible;
  }
}

@media screen and (min-width: 768px) {
  .footer .copyright {
    font-size: 1rem;
  }

  .secondary-header {
    flex-direction: row;
    height: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .content {
    padding: 2rem 2rem;
  }
}

@media screen and (min-width: 1400px) {
  .content {
    padding: 3rem 4rem 2rem;
  }
}
