<div class="form-container mat-elevation-z1 center" *ngIf="user$ | async as user">
  <h2>User Profile</h2>
  <div class="profile-image">
    <img
      [src]="user.photoURL ?? 'assets/images/placeholder-image.jpg'"
      alt=""
      class="img-responsive"
    />
    <button mat-mini-fab (click)="inputField.click()">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <input #inputField type="file" hidden (change)="uploadImage($event, user)" />
  <form [formGroup]="profileForm" (ngSubmit)="saveProfile()">
    <div class="profile-row">
      <mat-form-field>
        <input formControlName="firstName" matInput placeholder="First name" type="text">
      </mat-form-field>
      <mat-form-field>
        <input formControlName="lastName" matInput placeholder="Last name" type="text">
      </mat-form-field>
    </div>
    <div class="profile-row">
      <mat-form-field>
        <input formControlName="displayName" matInput placeholder="Display name" type="text">
      </mat-form-field>
      <mat-form-field>
        <input formControlName="phone" matInput placeholder="Phone" type="text">
      </mat-form-field>
    </div>
    <mat-form-field>
      <input formControlName="address" matInput placeholder="Address" type="text">
    </mat-form-field>
    <button color="primary" mat-raised-button type="submit"><mat-icon>save</mat-icon>Save</button>
  </form>
</div>
