.profile-image > img {
  width: 8rem;
  height: 8rem;
  border-radius: var(--border-radius);
  object-fit: cover;
  object-position: center;
}

.profile-image {
  position: relative;
  width: 8rem;
  margin: auto;
}

.profile-image > button {
  position: absolute;
  bottom: 0;
  right: 0;
}

.mat-mini-fab.mat-accent {
  background-color: var(--color-accent);
  color: var(--color-white);
}

.profile-row {
  display: flex;
  flex-direction: column;
}
