.pagenotfound {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 12rem);
}

.pagenotfound h1 {
  font-size: 8rem;
  line-height: 1;
}

.pagenotfound button .mat-icon {
  height: 26px;
  font-size: 1.25rem;
}
