@import url("./assets/styles/reset.css");
@import url("./assets/styles/typography.css");

:root {
  --color-accent: #ffa500;
  --color-steelblue: #4682b4;
  --color-text: #333;
  --color-white: #fff;
  --color-lightgray: #f9f9f9;
  --color-darkgray: #ccc;
  --border-radius: 100rem;
  --box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

a:-webkit-any-link {
  text-decoration: none;
  color: var(--color-steelblue);
}

.form-container {
  min-width: 90vw;
  max-width: 100vw;
  margin: auto;
  padding: 3rem;
  background-color: var(--color-lightgray);
  border-radius: 1rem;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container form button {
  margin: 1rem 0;
}

.center {
  text-align: center;
}

.mat-error {
  font-size: .75rem;
}

.img-responsive {
  max-width: 100%;
}

.mat-progress-spinner,
.mat-progress-spinner svg {
  width: 4rem !important;
  height: 4rem !important;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: var(--color-accent);
  stroke-width: 5% !important;
}

.mat-menu-panel {
  width: 9rem;
}
